/*  your css code here. If applicable */
*{
	margin:0px;
}
.container{
	width: 300px;
	height: 450px;
	background-color: gray;
	margin: 50px;
	padding: 50px;
	box-shadow: 0 8px 4px 0 black;
}
.text{
	text-align:center;
}
.button{
	background-color:red;
	border:none;
	padding:10px;
	border-radius: 10px;
	color: white;
	margin-top: 10px;
	
}

	
}